# MicroGPT local dev settings
MICROGPT_APP_NAME=MicroGPT Local Cognitive Engine
MICROGPT_PUBLIC_ACCESS=false
MICROGPT_MATURITY_LEVEL=research
MICROGPT_DATA_DIR=./data
MICROGPT_JWT_SECRET=change-this-local-dev-secret-32bytes-min
MICROGPT_JWT_ALGORITHM=HS256
MICROGPT_TOKEN_EXPIRE_MINUTES=1440
MICROGPT_ADMIN_USERNAME=admin
MICROGPT_ADMIN_PASSWORD=microgpt-admin
MICROGPT_RUNTIME_MODE=no_model
